.navbar{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    min-width: 400px;
}

.link-block{
    width: 30%;
}

.nav-btn{
    width: 100%;
}